<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/loading.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>
    <div style="visibility: hidden">hello</div>

    <div class="shadow w-75 mx-auto mt-5 p-5" style="margin-top: 600px">
      <center>
        <div id="container"></div>
      </center>
    </div>

    <center>
      <form action="/downloadzip" method="get" id="dwn" style="display: none">
        <button class="btn btn-primary">Download Zip</button>
      </form>
    </center>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="/loading.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
      integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/0.6.1/progressbar.min.js"
      integrity="sha512-7IoDEsIJGxz/gNyJY/0LRtS45wDSvPFXGPuC7Fo4YueWMNOmWKMAllEqo2Im3pgOjeEwsOoieyliRgdkZnY0ow=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      let no = "<%= no %>";

      var bar = new ProgressBar.Line("#container", {
        strokeWidth: 4,
        easing: "easeInOut",
        duration: 1400,
        color: "#FFEA82",
        trailColor: "#eee",
        trailWidth: 1,
        svgStyle: { width: "100%", height: "100%" },
        from: { color: "#FFEA82" },
        to: { color: "#ED6A5A" },
        step: (state, bar) => {
          bar.path.setAttribute("stroke", state.color);
        },
      });
      bar.animate(0.1); // Value from 0.0 to 1.0

      try {
        (function foo() {
          // your code logic here
          axios.get("/status").then((data) => {
            per = data.data / no;
            bar.animate(per);
            if (data.data == no) {
              document.getElementById("dwn").style.display = "block";
              throw new Error();
            }
            setTimeout(foo, 1000);
          });
        })();
      } catch (err) {
        console.log(err);
      }
    </script>
  </body>
</html>
